@* Bottom tab bar. "My List" is live; Browse (online library) and History (sang songs) are roadmap placeholders. *@
<nav class="app-nav">
    <NavLink class="app-nav__tab" href="" Match="NavLinkMatch.All">
        <span class="app-nav__icon">⭐</span>
        My List
    </NavLink>
    <span class="app-nav__tab is-disabled">
        <span class="app-nav__icon">🔎</span>
        Browse
    </span>
    <span class="app-nav__tab is-disabled">
        <span class="app-nav__icon">🎶</span>
        History
    </span>
</nav>
